<div class="form-signin">
  <div class="panel-info lead">

   <div class="panel-heading">
      <p><strong>Content:</strong><%= @task.content %></p>
    </div>
   <div class="panel-body">
      <p><strong>State:</strong><%= @task.state %></p>
   </div>
  </div>

  <%= link_to 'Back', tasks_path, class: "fa fa-arrow-left fa-lg" %>
  <%= link_to 'Edit', edit_task_path(@task), class: "fa fa-pencil fa-lg pull-right" %>
</div>
